<template>
  <div id="index" ref="appRef">
    <div class="bg">
      <dv-loading v-if="loading">Loading...</dv-loading>
      <div v-else class="host-body">
        <div class="d-flex jc-center">
          <dv-decoration-10 class="dv-dec-10"/>
          <div class="d-flex jc-center">
            <dv-decoration-8 class="dv-dec-8" :color="['#568aea', '#406bbd']"/>
            <div class="title">
              <span class="title-text">{{title}}</span>
              <dv-decoration-6 class="dv-dec-6" :reverse="true" :color="['#50e3c2', '#67a1e5']"/>
            </div>
            <dv-decoration-8 class="dv-dec-8" :reverse="true" :color="['#568aea', '#406bbd']"/>
          </div>
          <dv-decoration-10 class="dv-dec-10-s"/>
        </div>
        <!-- 第二行 -->
        <div class="d-flex jc-between px-2">
          <div class="d-flex aside-width">
            <div class="react-left ml-4 react-l-s">
              <!-- <span class="react-before"></span> -->
              <!-- <span class="text">数据分析1</span> -->
            </div>
            <div class="react-right ml-3">
              <!-- <span class="text">数据分析2</span> -->
            </div>
          </div>
          <div class="d-flex aside-width">
            <div class="react-right">
              <!-- <span class="text fw-b">vue-big-screen</span> -->
            </div>
            <div class="react-right mr-4 react-l-s right-s">
              <span class="react-after"></span>
              <!-- <span class="text">{{ dateYear }} {{ dateWeek }} {{ dateDay }}</span> -->
              <el-select class="text" v-model="warehouse" placeholder="请选择仓库" @change="styleChange">
                <el-option
                  v-for="(item, index) in optionList"
                  :key="index"
                  :label="item"
                  :value="item"
                />
              </el-select>
              <el-date-picker
                class="text"
                v-model="timedata"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期时间"
                @change="selectTime"
              ></el-date-picker>
            </div>
          </div>
        </div>
        <div class="body-box">
          <!-- 第三行数据 -->
          <div class="content-box">
            <div>
              <dv-border-box-12>
                <keep-alive>
                  <centerLeft :formList="formList" :formsum="formsum"/>
                </keep-alive>
              </dv-border-box-12>
            </div>
            <div>
              <dv-border-box-12>
                <centerRight :formSumData="formSumData"/>
              </dv-border-box-12>
            </div>
          </div>
          <!-- 第四行数据 -->
          <div class="content-box">
            <!-- <dv-border-box-13>
              <centerBottomLeft :listData="listData"/>
            </dv-border-box-13>-->
            <div>
              <dv-border-box-12>
                <centerBottomLeft :timedata="timedata" :sId="sId"/>
              </dv-border-box-12>
            </div>
            <div>
              <dv-border-box-12>
                <centerBottomRight :timedata="timedata" :sId="sId"/>
              </dv-border-box-12>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="carousel">
      <div class="carousel" ref="carousel">
        <transition-group class="slide clearfix" :name="transitionName">
          <li v-for="(item,index) in slideData" :key="index" v-show="index==beginValue">
            <!-- {{ item.sId }} -->
          </li>
        </transition-group>
        <div class="up" @click="up" v-show="arrow"></div>
        <div class="next" @click="next" v-show="arrow"></div>
        <div class="slideDot" v-show="dot">
          <span
            v-for="(item,index) in slideData"
            :class="{active:index==beginValue}"
            @click="change(index)"
            :key="index"
          ></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import drawMixin from "@/utils/drawMixin";
import { formatTime } from "@/utils/index.js";
import centerLeft from "./components/centerLeft";
import centerRight from "./components/centerRight";
import centerBottomLeft from "./components/centerBottomLeft";
import centerBottomRight from "./components/centerBottomRight";
// import { formatDate } from './index.js'
// import carousel from "./center";

export default {
  name: "index",
  props: {
    height: {
      type: Number,
      default: 910,
    },
    dot: {
      type: Boolean,
      default: true,
    },
    arrow: {
      type: Boolean,
      default: true,
    },
    interval: {
      type: Number,
      default: 3000,
    },
    begin: {
      type: Number,
      default: 0,
    },
  },
  components: {
    centerLeft,
    centerRight,
    centerBottomLeft,
    centerBottomRight,
  },
  mixins: [drawMixin],
  data() {
    return {
      timedata: null,
      timing: null,
      loading: true,
      dateDay: null,
      dateYear: null,
      dateWeek: null,
      weekday: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
      Cookie: "",
      // listData: [],
      formList: [],
      formsum: 0,
      formSumData: [],
      optionList: [], //仓库类型
      slideData: [], //仓库选择
      warehouse: "", //仓库
      setInterval: "",
      beginValue: 0,
      transitionName: "slide",
      sId: "",
      title: "",
      show: true,
    };
  },
  provide() {},
  async mounted() {
    this.timeFn();
    this.cancelLoading();
    // 切id
    var box = this.$refs.carousel; //监听对象
    box.addEventListener("mouseover", () => {
      this.mouseOver();
    });
    box.addEventListener("mouseout", () => {
      this.mouseOut();
    });
    this.beginValue = this.begin;
    this.play();
    // 当前时间
    this.timedata = formatTime(new Date(), "yyyy-MM-dd HH:mm:ss")
    // console.log('打印时间', this.timedata)
    let res = await this.$Request({
      dataStores: {},
      parameters: {
        sType: "",
        _parameters: "sType",
        _parameterTypes: "string",
        dcID: "wmsmegadatais",
        _boId: "wmsmegadatais_ifsMgwmsWarehouseBO_bo",
        _methodName: "queryWmsWarehouseLabelByType",
        _methodParameterTypes: "String",
      },
    });
    if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
      let list = JSON.parse(
        res.data.body.dataStores.result.rowSet.primary[0].resultData
      );
      this.optionList = list;
      if (this.warehouse == "") {
        this.warehouse = this.optionList[0];
      }
      this.axios();
      // console.log('>136仓库类型>>》》》》', this.optionList)
      if (this.sId == "") {
        this.sId = this.slideData[0].sId;
        this.title = this.slideData[0].title;
      }
      this.axios2();
      this.axios3();
    } else {
      this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
    }
    
  },
  beforeDestroy() {
    // 组件销毁前,清除监听器
    clearInterval(this.setInterval);
  },
  unMounted() {
    clearInterval(this.timing);
  },
  async created() {
    this.axios();
  },
  watch: {
    sId: {
      handler() {
        this.axios3();
        this.axios2();
      },
      deep: true,
      immediate: true,
    },
    timedata: {
      handler() {
        this.axios();
        this.axios3();
        this.axios2();
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    styleChange() {
      this.axios();
      this.axios2();
      this.axios3();
    },
    selectTime() {
      // this.axios2()
      // this.axios3()
    },

    async axios() {
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          sLabel: this.warehouse,
          _parameters: "sLabel",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsMgwmsWarehouseBO_bo",
          _methodName: "queryWmsWarehouseByLabel",
          _methodParameterTypes: "String",
        },
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        // document.cookie = 'JSESSIONID=' + res.data.id
        let list = JSON.parse(
          res.data.body.dataStores.result.rowSet.primary[0].resultData
        );
        // this.slideData = list
        this.slideData = list.map((ele) => {
          // 仓库id：sWarehouseId
          // 仓库名称：sWarehouseName
          return {
            title: ele.sWarehouseName,
            sId: ele.sWarehouseId,
          };
        });
        // this.sId = ''
        // this.title = ''

        // console.log('>149仓库>>》》》》', this.slideData)
      } else {
        this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
      }

      
    },
    async axios2() {
      // 统计进出总量
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          parmPojo: {
            sWarehouseId: this.sId,
            dateFrom: this.timedata,
            dateTo: this.timedata,
          },
          _parameters: "parmPojo",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsStockDataBO_bo",
          _methodName: "queryStockReceiptSum",
          _methodParameterTypes: "String",
        },
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        let list = JSON.parse(
            res.data.body.dataStores.result.rowSet.primary[0].resultData
          );

          if (list.length == 0) {
            this.formSumData = [{ sQty: 0 }, { sQty: 0 }];
          }
          this.formSumData = list;
          // console.log('158出入库统计>》》》>>', this.formSumData)
      } else {
        // this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
        console.log('统计进出总量',
        `${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`,
        '传入的参数:',
        `parameters: {
          parmPojo: {
            sWarehouseId: ${this.sId},
            dateFrom: ${this.timedata},
            dateTo: ${this.timedata},
          },
          _parameters: "parmPojo",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsStockDataBO_bo",
          _methodName: "queryStockReceiptSum",
          _methodParameterTypes: "String",
        },`);
      }
      
    },

    async axios3() {
      //
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          parmPojo: {
            sWarehouseId: this.sId,
          },
          _parameters: "parmPojo",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsStockDataBO_bo",
          _methodName: "queryGroupStock",
          _methodParameterTypes: "String",
        },
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        // document.cookie = 'JSESSIONID=' + res.data.id
        let list = JSON.parse(
          res.data.body.dataStores.result.rowSet.primary[0].resultData
        );
        this.formsum = 0;
        this.formList = list.map((ele) => {
          if (ele.sQty) {
            this.formsum += ele.sQty;
          }
          return {
            value: ele.sQty,
            name: ele.vSubGoodsOwnerName + "：" + ele.sQty,
          };
        });
        if (list.length == 0) {
          this.formList = [
            {
              value: 0,
              name: "其它",
            },
          ];
          this.formsum = 0;
        }
        // console.log('>159统计饼图>>', this.formList)
      } else {
        this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
      }
      
    },
    timeFn() {
      this.timing = setInterval(() => {
        this.dateDay = formatTime(new Date(), "HH: mm: ss");
        this.dateYear = formatTime(new Date(), "yyyy-MM-dd");
        this.dateWeek = this.weekday[new Date().getDay()];
      }, 1000);
    },
    cancelLoading() {
      setTimeout(() => {
        this.loading = false;
      }, 500);
    },
    // 切id
    async change(key) {
      if (key > this.slideData.length - 1) {
        key = 0;
      }
      if (key < 0) {
        key = this.slideData.length - 1;
      }

      this.beginValue = key;
      this.sId = this.slideData[this.beginValue].sId;
      this.title = this.slideData[this.beginValue].title;
      await this.axios2();
      await this.axios3();
    },
    async autoPlay() {
      //console.log(this.$refs.carousel.getBoundingClientRect().width);
      this.transitionName = "slide";
      this.sId = this.slideData[0].sId;
      this.title = this.slideData[0].title;
      this.beginValue++;

      if (this.beginValue >= this.slideData.length) {
        this.beginValue = 0;

        return;
      }
      this.sId = this.slideData[this.beginValue].sId;
      this.title = this.slideData[this.beginValue].title;
      await this.axios2();
      await this.axios3();
    },
    play() {
      this.setInterval = setInterval(this.autoPlay, this.interval);
    },
    mouseOver() {
      //鼠标进入
      //console.log('over')
      clearInterval(this.setInterval);
    },
    mouseOut() {
      //鼠标离开
      //console.log('out')
      this.play();
    },
    up() {
      //上一页
      --this.beginValue;
      this.transitionName = "slideBack";
      this.change(this.beginValue);
    },
    next() {
      //下一页
      ++this.beginValue;
      this.transitionName = "slide";
      this.change(this.beginValue);
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/index.scss";
.slide li .title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: larger;
  text-align: center;
}
.slideDot {
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 15px;
}
.slideDot span {
  display: inline-block;
  width: 30px;
  height: 7px;
  background: rgba(255, 255, 255, 0.65);
  margin-left: 5px;
}
.slideDot span.active {
  background: rgba(255, 255, 255, 1);
}
.up,
.next {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -32px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.up {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABSklEQVRoQ9Xa220CMRCF4XMqIB0kdJASSCfpIDWlAzqAElIC6SBUMNFIywsCtB7PjX336v/k3YexTBQ+IvIC4AvAN8mTJYWWRR5rROQdwAGAIk4kt5b3lgCu4rX7l+TbUwBuxJ8B7Ej+tAd4xys47ROKiE8DRMWnACLjwwHR8aGAjPgwQFZ8CCAz3h2QHe8KqIh3A1TFuwAq46cB1fFTgA7xZkCXeBOgU/wwoFv8EKBj/GpA1/gRgJ4e7JaZdWqGtcy9j9asGilFRM9sXpcX/QH4sA7hVQA9wzkC2HRDrNoBjV7+g3aI1YCuiCFAR8QwoBvCBOiEMAO6IKYAHRDTgGqEC6AS4QaoQrgCKhDugGxECCATEQbIQoQCMhDhgGhECiASkQaIQqQCIhDpgDuI57orcQNxJqmXPoafkh24VIqIXvD4BLC3HtP8A6pfGkB3vbyXAAAAAElFTkSuQmCC");
}
.next {
  left: auto;
  right: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABOElEQVRoQ9Xa0W0CQQyEYU9JqShQAXSSEgIdUAIlQAd04milezgdOiHZ4/GGN5C8/N/u060Olvy4+8nMngDuyaVC4whNLUPufjazn+XrEcAls15klgkY/y9HpACj2N3Hrn+vdk+KSAO6ERRAJ4IG6EJQAR0IOkCNKAEoEWUAFaIUoECUA6oREkAlQgaoQkgBFQg5gI1oATARbQAWohXAQLQDsogpABnENIAoYirADuILwGPvxmJGwK+ZHVbB/wfg7tv4K4A15u0gpjmBSPzQTAGIxk8ByMS3A7LxrQBGfBuAFd8CYMbLAex4KaAiXgaoipcAKuPLAdXxpQBFfBlAFV8CUMbTAep4KqAjngboiqcAOuPTgM27EmO9j8+we7cL0d9Tj5QbgDw+fQLLPc54Y+UF4BbdxczcH9Le8DFn39OvAAAAAElFTkSuQmCC");
}
.up:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.react-right .text {
  margin: 0 4px;
}
/*进入过渡生效时的状态*/
.slide-enter-active {
  transform: translateX(0);
  transition: all 1s ease;
}
/*进入开始状态*/
.slide-enter {
  transform: translateX(-100%);
}
/*离开过渡生效时的状态*/
.slide-leave-active {
  transform: translateX(100%);
  transition: all 1s ease;
}
/*离开过渡的开始状态*/
.slide-leave {
  transform: translateX(0);
}
/*进入过渡生效时的状态*/
.slideBack-enter-active {
  transform: translateX(0);
  transition: all 1s ease;
}
/*进入开始状态*/
.slideBack-enter {
  transform: translateX(100%);
}
/*离开过渡生效时的状态*/
.slideBack-leave-active {
  transform: translateX(-100%);
  transition: all 1s ease;
}
/*离开过渡的开始状态*/
.slideBack-leave {
  transform: translateX(0);
}
</style>
