<template>
<div id="centerLeft1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-pie" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">今日统计</span>
          <dv-decoration-3 class="dv-dec-3" />
        </div>
      </div>
      <div class="jc-center">
        <Row v-for="(row, index) in list" :key="index" :row="row" />
      </div>
    </div>
  </div>
</template>

<script>
import Row from './row.vue'
export default {
  props: {
		sWarehouseIds: {
      type: String
    }
	},
  components: {
    Row
  },
  data () {
    return {
      sWarehouseId: '',
      list: [
        {
          id: 1,
          list: [],
          name: "今日入库/吨",
          datas: 0,
          type: 'in',
          color: "#4e73df",
          icon: "el-icon-download",
        },
        {
          id: 2,
          list: [],
          name: "今日出库/吨",
          datas: 0,
          type: 'out',
          color: "#1cc88a",
          icon: "el-icon-upload2",
        },
        {
          id: 3,
          list: [],
          name: "今日加工/吨",
          datas: 0,
          type: 'machining',
          color: "#36b9cc",
          icon: "el-icon-edit",
        },
        {
          id: 4,
          list: [],
          name: "今日过户/吨",
          datas: 0,
          type: 'transfer',
          color: "#f6c23e",
          icon: "el-icon-refresh",
        },
        {
          id: 5,
          list: [],
          name: "今日移动/吨",
          datas: 0,
          type: 'move',
          color: "#ee6666",
          icon: "el-icon-sort",
        },
      ],
    }
  },
  methods: {
    async stockSum(sWarehouseId) {
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          json: {
            sWarehouseId: sWarehouseId,
            sStorageType: "in,out,machining,transfer,move", //单据类型
          },
          _parameters: "json",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsMgwmsData2PcHomeBO_bo",
          _methodName: "queryStockSum",
          _methodParameterTypes: "String",
        },
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        // document.cookie = 'JSESSIONID=' + res.data.id
        let lists = JSON.parse(
          res.data.body.dataStores.result.rowSet.primary[0].resultData
        );
        for(let i in this.list){
          lists.map((item) =>{
            if(item.sQty == null){
              this.list[i].datas = 0
            }
            if(this.list[i].type == item.sStorageType){
              this.list[i].datas = item.sQty.toFixed(3)
            }
            
          })
        }

        // console.log(">213单据统计>>》》》》", lists);
      } else {
        this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
      }
      
    },
  },
  watch: {
    sWarehouseIds: {
      handler(newval) {
        this.sWarehouseId = newval
        this.stockSum(this.sWarehouseId)
        // console.log('>>>>>我是测试', this.forms.foreData)
      },
      deep: true,
      immediate: true 
    },
  },
}
</script>

<style lang="scss" scoped>
$box-width: 1000px;
$box-height: 480px;

#centerLeft1 {
  padding: 16px;
  height: 100%;
  // width: $box-width;
  border-radius: 10px;
  .bg-color-black {
    height: 100%;
    border-radius: 10px;
  }
  .text {
    color: #666;
  }
  .dv-dec-3 {
    position: relative;
    width: 100px;
    height: 20px;
    top: -3px;
  }

  .bottom-data {
    .item-box {
      & > div {
        padding-right: 5px;
      }
      font-size: 14px;
      float: right;
      position: relative;
      width: 50%;
      color: #d3d6dd;
      .dv-digital-flop {
        width: 120px;
        height: 30px;
      }
      // 金币
      .coin {
        position: relative;
        top: 6px;
        font-size: 20px;
        color: #ffc107;
      }
      .colorYellow {
        color: yellowgreen;
      }
      p {
        text-align: center;
      }
    }
  }
}
  .card-list {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
  }
//   .dv-border-box-11 .border-box-content {
//     FONT-WEIGHT: 500;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
// }
</style>