<template>
  <div id="centerLeft1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-pie" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">库存统计</span>
          <dv-decoration-3 class="dv-dec-3" />
        </div>
      </div>
      <div class="d-flex jc-center">
        <ChartPie :forms="forms"/>
      </div>
    </div>
  </div>
</template>

<script>
import ChartPie from './chartpie'
export default {
    name: 'jcwms',
  components: {
    ChartPie
  },
  props: {
	// 	stockBalanceList: {
  //     type: Array,
  //     default: function() {
  //       return []
  //     }
  //   },
  //   formsum: {
  //     type: Number,
  //     default: 0
  //  },
   sWarehouseIds: {
      type: String
   },
	},
  data() {
    return {
      // formsums: 0,
      // formLists:[],
      sWarehouseId: '',
      forms: {
        foreData: [],
        seriesName: '',
        graphicText: 0,
        graphicTitle: '库存总量',
      }
    }
  },
  
  mounted() {
    if(this.forms.foreData.length == 0){
      this.forms.foreData = [{
          value: 0,
          name: '其它'
      }]
      this.forms.graphicText = 0
    }
  },
  methods: {
    async stockBalance(sWarehouseId) {
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          json: {
            sWarehouseId: sWarehouseId,
          },
          _parameters: "json",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsMgwmsData2PcHomeBO_bo",
          _methodName: "queryStockBalance",
          _methodParameterTypes: "String",
        },
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        // document.cookie = 'JSESSIONID=' + res.data.id
        let list = JSON.parse(
          res.data.body.dataStores.result.rowSet.primary[0].resultData
        );
        this.forms.graphicText = 0
        this.forms.foreData = list.map(ele => {
          if(ele.sQty){
            this.forms.graphicText += ele.sQty
          }
          return{
            value: ele.sQty.toFixed(3),
            name: ele.vGoodsDetailName + ':' + '：'
          }
        })
        
        // console.log(">214环状饼图库存统计>>》》》》", list);
      } else {
        this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
      }
      
    },
  },
  watch: {
    // stockBalanceList: {
    //   handler(newval) {
    //     this.forms.foreData = newval
    //     // console.log('>>>>>我是测试', this.forms.foreData)
    //   },
    //   deep: true,
    //   immediate: true 
    // },
    // formsum: {
    //   handler(newval) {
    //     this.forms.graphicText = newval.toFixed(3)
    //     // console.log('>>>>>还是个还是', this.forms.graphicText)
    //   },
    //   deep: true,
    //   immediate: true 
    // }
    sWarehouseIds: {
      handler(newval) {
        this.sWarehouseId = newval
        this.stockBalance(this.sWarehouseId)
        // console.log('>>>>>我是测试', this.forms.foreData)
      },
      deep: true,
      immediate: true 
    },
  },
}
</script>

<style lang="scss" scoped>
$box-width: 1000px;
$box-height: 480px;

#centerLeft1 {
  padding: 16px;
  height: 100%;
  // width: $box-width;
  border-radius: 10px;
  .bg-color-black {
    height: 100%;
    border-radius: 10px;
  }
  .text {
    color: #666;
  }
  .dv-dec-3 {
    position: relative;
    width: 100px;
    height: 20px;
    top: -3px;
  }

  .bottom-data {
    .item-box {
      & > div {
        padding-right: 5px;
      }
      font-size: 14px;
      float: right;
      position: relative;
      width: 50%;
      color: #d3d6dd;
      .dv-digital-flop {
        width: 120px;
        height: 30px;
      }
      // 金币
      .coin {
        position: relative;
        top: 6px;
        font-size: 20px;
        color: #ffc107;
      }
      .colorYellow {
        color: yellowgreen;
      }
      p {
        text-align: center;
      }
    }
  }
}
</style>
