<template>
  <div :id="chartPie" class="pie-wrap"></div>
</template>

<script>
// import * as echarts from "echarts";
// require("echarts/theme/macarons");
export default {
  props: {
		// forms: Object
    forms: {
      type: Object,
      default: function() {
        return {}
      }
    },
	},
  data() {
    return {
      formss: {},
      // chartPie: null,
      datas: [],
      // chartPie: 'Waterboxc' + new Date().getTime(),
      chartPie: 'Waterboxc' + new Date().getTime(),
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.drawPieChart();
    });
  },
  watch: {
    forms: {
      handler(newval) {
        this.formss = newval
        this.$nextTick(() => {
          this.drawPieChart();
        });
        this.formss.foreData.map((item) => {
          // return{
          //   name: item.name,
          //   value: item.value
          // },
          // // alert(item.value),
          this.datas.push(item.name)
        })
      },
      deep: true,
      immediate: true 
    }
  },
  methods: {
    drawPieChart() {
      // let myChart = echarts.init(document.getElementById("chartPie"));
      let myChart = this.$echarts.init(document.getElementById(`${this.chartPie}`))
      let option = {
        title: {
          //标题组件
          textStyle: {
            color: "#fff",
            fontSize: 14,
          },
        },
        // tooltip: {
        //   trigger: "item",
        //   formatter: "{a} <br/>{b} ({d}%)",
        //   textStyle: {
        //     //图例文字的样式
        //     color: "#fff", //文字颜色
        //     fontSize: 14, //文字大小
        //   },
        // },
        graphic: [
          {
            type: "text",
            top: "54%",
            left: "center",
            style: {
              text: this.formss.graphicText.toFixed(3),
              fill: "#666",
              fontSize: 18,
              fontWeight: "normal",
            },
          },
          {
            type: "text",
            top: "48%",
            left: "center",
            style: {
              text: this.formss.graphicTitle,
              fill: "#666",
              fontSize: 16,
              fontWeight: "normal",
            },
          },
        ],
        //圆环的颜色
        color: ["#48cda6", "#ee6666", "#11abff", "rgb(246, 194, 62)", "#968ade","#33B5E5","#0099CC","#AA66CC","#9933CC","#99CC00","#669900","#FFBB33","#FF8800","#FF4444","#CC0000"],
        // 图例
        // legend: {
        //   // 图例选择的模式，控制是否可以通过点击图例改变系列的显示状态。默认开启图例选择，可以设成 false 关闭。
        //   selectedMode: true, //图例在垂直方向上面显示居中
        //   orient: 'vertical', 
        //   x : 'left',   //图例显示在右边
        //   y: 'right',  
        //   bottom: 0,
        //   top:20,
        //   itemWidth: 10, //图例标记的图形宽度
        //   itemHeight: 20, //图例标记的图形高度
        //   data: this.datas,
        //   textStyle: {
        //     //图例文字的样式
        //     color: "#A6A8B6", //文字颜色
        //     fontSize: 14, //文字大小
        //   },
        // },
        series: [
          {
            name: this.formss.seriesName, //代表a的值，系列名称
            type: "pie",
            center: ["50%", "52%"], //饼图的中心（圆心）坐标，数组的第一项是横坐标，第二项是纵坐标。
            radius: ["45%", "60%"], //饼图的半径，数组的第一项是内半径，第二项是外半径。[ default: [0, '75%'] ]
            avoidLabelOverlap: true, //是否禁用动画效果
            animation: true,
            
            label: {
              normal: {
                show: true, //是否显示标签
                //// 标签的位置。'outside'饼图扇区外侧，通过视觉引导线连到相应的扇区。'inside','inner' 同 'inside',饼图扇区内部。'center'在饼图中心位置。
                position: "outside",
                marginTop: 18,
                //显示的标签的内容
                //a（系列名称），b（数据项名称），c（数值）, d（百分比）
                // formatter: "{b}（{d}%）",
                textStyle: {
                  fontSize: 13,
                  // fontWeight: "bold",
                  // lineHeight: 16,
                  
                },
                formatter:function(v){   //让series 中的文字进行换行  
                  let text = v.name + v.value + '（' + v.percent + '%' + ')'
                  return text.split("：").join("\n");
                }, 
                trigger: 'item',
              },
              emphasis: {
                //鼠标放在圆环上显示的标签样式
                show: true,
                textStyle: {
                  fontSize: "14",
                  fontWeight: "bold",
                },
              },
            },
            labelLine: {
              normal: {
                show: true, //是否显示引导线
                length: 5, //百分比引导线
                length2: 20, //视觉引导项第二段的长度。
              },
            },
            itemStyle: {
              normal: {
                borderColor: "#FFFFFF",
                borderWidth: 1,
                label: {
                  show: true,
                  formatter: "{d}%",
                },
              },
            },
            // 系列中的数据内容数组。
            data: this.formss.foreData,
          },
        ],
      };
      myChart.setOption(option);
    },
  },
};
</script>

<style lang="scss" scoped>
.pie-wrap {
  width: calc(100vw / 1 - 30px);
  height: calc(48vh / 1 - 30px);
}
.text_centent{
    font-size: 0.8rem;
    color: rgb(255, 254, 240);
    text-align: center;
    margin-top: 8px;
}
.hygrometer{
    float: left;
    display: block;
    overflow: hidden;
}
</style>
