<template>
  <div class="card" :style="{ 'background': row.color }">
    <div class="card-left">
      <div class="name">{{ row.name }}</div>
      <div class="detail">{{ row.datas }}</div>
    </div>
    <div class="card-right">
      <i :class="row.icon"></i>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    row: {
      type: Object,
      default: () => {
        return {

        }
      }
    }
  },
}
</script>

<style lang="scss" scoped>

  .card{
    border-radius: 4px;
    overflow: hidden;
    height: 100px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(50% - 26px);
    background-color: var(--system-page-background);
    margin: calc(2.4rem - 26px) calc(2.4rem - 26px) calc(6vh - 26px) calc(2.4rem - 26px);
    -webkit-box-shadow: 3px 3px 10px 0 rgba(58, 59, 69, 0.15);
            box-shadow: 3px 3px 10px 0 rgba(58, 59, 69, 0.15);
    color: #e6e8ef;
    &-left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 20px;
      .name {
        line-height: 18px;
        color: var(--system-page-tip-color);
        font-size: 18px;
        margin-bottom: 20px;
      }
      .detail {
        font-size: 28px;
        font-weight: bold;
        color: var(--system-page-color);
      }
    }
    &-right {
      padding-right: 15px;
      i {
        font-size: 50px;
        font-weight: 600;
        color: #485170; /* 浏览器不支持时显示 */
        background-image: -webkit-gradient(
          linear,
          0 0,
          0 bottom,
          from(#d5dfff),
          to(#caceff2e)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }
  }
  @media screen and ( max-width: 1200px ) {
    .card {
      width: calc(50% - 26px);
    }
  }
  @media screen and ( max-width: 500px ) {
    .card {
      width: calc(100% - 26px);
    }
  }
</style>