<template>
  <div class="index">
    <div class="bg">
      <div class="host-body">
        <div class="body-box">
          <div v-for="(item, index) in formList" :key="index" style="position:relative" :id='index'>
            <div class="pages">{{ index + 1 }}/{{ formList.length }}</div>
            <dv-border-box-11 :title="item.sName" :titleWidth="350" class="body-box dv-border-box-11" :color="['#CCFFFF', '#0066CC']">
              <div class="content-box2">
                <dv-border-box-6 :color="['#666', '#f49568']">
                  <keep-alive>
                    <card :sWarehouseIds="item.sId"/>
                  </keep-alive>
                </dv-border-box-6>
              </div>
              <div class="content-box2">
                <dv-border-box-6 :color="['#666', '#f49568']">
                  <keep-alive>
                    <chartpieWms :sWarehouseIds="item.sId" />
                  </keep-alive>
                </dv-border-box-6>
              </div>
            </dv-border-box-11>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="nav1" @click="change(index)" v-for="(item, index) in formList" :key="index" :class="index==0?'current':''">{{item.id}}</div> -->
  </div>
</template>

<script>
import drawMixin from "@/utils/drawMixin";
import chartpieWms from "./components/chartpieWms";
import card from "./components/card";

export default {
  name: "jcwms",
  components: {
    chartpieWms,
    card,
  },
  mixins: [drawMixin],
  data() {
    return {
      formList: [
        // {sId: "123", sName: "当前账号无库点"},
      ],
      // stockBalanceList: [],
      // formsum: 0,
      
      sId: ''
    };
  },
  provide() {},
  mounted() {
    // this.sWarehouse();
    
  },
  beforeDestroy() {
    // 组件销毁前,清除监听器
  },
  unMounted() {},
  async created() {
    await this.sWarehouse();
  },
  methods: {
    // change(key) {
    //   document.querySelector('#'+key).scrollIntoView()
    // },
    // 获取仓库
    async sWarehouse() {
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          userAccount: "", //用户账号，可以不填，空双引号
          _parameters: "userAccount",
          _parameterTypes: "string",
          dcID: "wmsmegadatais",
          _boId: "wmsmegadatais_ifsMgwmsWarehouseBO_bo",
          _methodName: "queryWmsWarehouseByUserRole",
          _methodParameterTypes: "String",
        },
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        let list = JSON.parse( res.data.body.dataStores.result.rowSet.primary[0].resultData );
        if(list == null){
          this.formList = [{sId: "123", sName: "当前账号无库点"}]
        }
        this.formList = list.map(ele => {
          // 仓库id：sWarehouseId
          // 仓库名称：sWarehouseName
          return {
            sName: ele.sWarehouseName,
            sId: ele.sWarehouseId,
          }
        })
        
        // console.log(">仓库ID>>》》》》", this.formList);
      } else {
        this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
      }
    },
    
  },
  watch: {
  }
};
</script>

<style lang="scss">
@import "../../assets/scss/index.scss";
.index {
  padding: 4vh 8vh;
}
#app {
  height: 100% !important;
  min-height: 100vh;
  background-size: auto !important;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  width:100% !important;
  background-image: none!important;
  background-color: #f7fafd;
  // position: fixed;
  // top: 0;
  // left: 0;
}
.dv-border-box-11 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 85px 15px 40px 15px;
}

.content-box2 {
  width: 50%;
}
.dv-border-box-11 .border-box-content {
  position: relative;
  width: 100%;
  height: 100%!important;
  display: flex;
  justify-content: center;
}
.dv-border-box-11 .dv-border-box-6 .border-box-content {
  display: block;
}
.nav1 {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #eee;
  margin: 10px 0;
}
.current {
  color: #fff;
  background: red;
}
.pages{
  color: rgb(138, 170, 251);
    position: absolute;
    top: 40px;
    left: 34px;
}
.bg-color-black {
  background-color: #fff;
}
.dv-border-box-11{
  color: #666;
}
.dv-border-box-11 .dv-border-svg-container > polyline {
    // fill: darkslateblue;
    stroke-width: 0.4;
}
</style>
