<template>
<div id="centerRight1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-pie" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">货主信息</span>
          <dv-decoration-3 class="dv-dec-1" />
        </div>
      </div>
      <div style="height: 840px">
      <dv-scroll-board :config="config" style="width:100%;padding-top: 10px" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
		listData: Array,
	},
  data () {
    return {
      config: {
      },
      fourData: [],
      fourParams: ['Simulator.cemsSO2.anshui', 'Simulator.cemsSO2.humidity', 'Simulator.cemsSO2.shs', 'Simulator.cemsSO2.soot'],
      header: ['客商名称', '库点', '库存量'],
    }
  },
  // mounted() {
  //   this.getEvents()
  // },
  // mounted(){
  //   this.getEvents();
  //   this.timer = setInterval(() =>{

  //     setTimeout(this.config)

  //   },3000)

  // },
  methods: {
    getEvents () {
      this.config = {
        header: ['货主名称', '库点', '库存量（T）'],
        data: this.listData,
        userName: "",
        rowNum: 20, //表格行数
        headerHeight: 35,
        // headerBGC: '#0f1325be', //表头
        oddRowBGC: '#0f1325be', //奇数行
        evenRowBGC: '#171c33be', //偶数行
        // index: true,
        columnWidth: [300, 200, 200],
        align: ['center','center','right']
      }
    },
    // 定时器
    timer () {
      
        // this.getEvents()
        // this.header.map(item => {

        // })
        for(let i = 0; i <= this.header.length; i++){
          return setTimeout(() => {
            // alert(this.header[i]) 
            // i++
          }, 3000)
        }
      
    }
  },
  watch: {
    config() {
      this.timer()
    }
  },
  destroyed () {
    clearTimeout(this.timer)
  },
  created () {
    // this.userName = sessionStorage.getItem('userkey')
    this.getEvents()
    this.timer ()
  }
}
</script>

<style scoped lang="scss">
// .tables {
//   padding: 0 10px;
// }
$box-height: 910px;
$box-width: 300px;
.dv-dec-1 {
  position: relative;
  width: 100px;
  height: 20px;
  top: -3px;
}
#centerRight1 {
  padding: 16px;
  padding-top: 20px;
  height: $box-height;
  // width: $box-width;
  border-radius: 5px;
  .bg-color-black {
    height: $box-height - 30px;
    border-radius: 10px;
  }
  .text {
    color: #fff;
  }
  .body-box2 {
    border-radius: 10px;
    // width: 100%;
    // grid-template-columns: repeat(1, 100%);
    overflow: hidden;
    .dv-scr-board {
      // width: 270px;
      height: 340px;
    }
  }
}
</style>