<template>
  <div id="index" ref="appRef">
    <div class="bg">
      <dv-loading v-if="loading">Loading...</dv-loading>
      <div v-else class="host-body">
        <div class="d-flex jc-center">
          <div class="header-wrap">
            <div class="header-left">
              <dv-decoration-8 style="width:300px;height:50px;" />
            </div>
            <div class="header-title">
              <h1 class="title">货主库存量展示图</h1>
              <dv-decoration-5 style="width:700px;height:40px;" />
            </div>
            <div class="header-right">
              <dv-decoration-8 :reverse="true" style="width:300px;height:50px;" />
            </div>
          </div>
        </div>

        <!-- 第二行 -->
        <div class="d-flex jc-between px-2">
          <div class="d-flex aside-width">
            <div class="react-left ml-4 react-l-s">
              <!-- <span class="react-before"></span> -->
              <!-- <span class="text">数据分析1</span> -->
            </div>
            <div class="react-right ml-3">
              <!-- <span class="text">数据分析2</span> -->
            </div>
          </div>
          <div class="d-flex aside-width">
            <div class="react-right">
              <!-- <span class="text fw-b">vue-big-screen</span> -->
            </div>
            <div class="react-right mr-4 react-l-s right-s">
              <span class="react-after"></span>
              <span class="text"
                >{{ dateYear }} {{ dateWeek }} {{ dateDay }}</span
              >
            </div>
          </div>
        </div>

        <div class="body-box">
          <!-- 第三行数据 -->
          <div class="content-box2">
            <div class="container-left">
              <dv-border-box-12>
                <Lately :listData="listData"/>
              </dv-border-box-12>
            </div>
            <div class="container-right">
                <mapRight />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import drawMixin from "@/utils/drawMixin";
import { formatTime } from '@/utils/index.js'
import Lately from './components/Lately'
import mapRight from './components/mapRight'

export default {
  name: 'home',
  mixins: [ drawMixin ],
  data() {
    return {
      timing: null,
      loading: true,
      dateDay: null,
      dateYear: null,
      dateWeek: null,
      weekday: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
      listData: []
    }
  },
  components: {
    Lately,
    mapRight,
  },
  async mounted() {
    await this.timeFn()
    await this.cancelLoading()
    // this.$axios({
    //     headers: {
    //         "content-type": "application/x-www-form-urlencoded"
    //     },
    //     method: 'POST',
    //     // withCredentials: true,
    //     url:'http://121.37.193.224:8080/framework/j_spring_security_check?j_username=apptest&j_password=apptest1&useRestful=true',
    // }).then((res) =>{
    //   this.Cookie = res.data.id
    //   document.cookie = 'JSESSIONID=' + res.data.id
    // }).catch((error) => {
    //     console.log(error)       //请求失败返回的数据
    // })
    
    // 分组查询库存数据
    let res = await this.$Request({
      dataStores: {},
      parameters: {
        "parmPojo": {
          "sWarehouseId":""
        },
        "_parameters": "parmPojo", 
        "_parameterTypes": "string", 
        "dcID": "wmsmegadatais", 
        "_boId": "wmsmegadatais_ifsStockDataBO_bo", 
        "_methodName": "queryGroupStock", 
        "_methodParameterTypes": "String"
      }
    });
    if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
      let list = JSON.parse(res.data.body.dataStores.result.rowSet.primary[0].resultData)
      list.map(ele => {
        this.listData.push([ele.vSubGoodsOwnerName,ele.vSubWarehouseName,ele.sQty])
      })
    } else {
      this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
    }
  },
  unMounted() {
    clearInterval(this.timing)
  },
  methods: {
    timeFn() {
      this.timing = setInterval(() => {
        this.dateDay = formatTime(new Date(), 'HH: mm: ss')
        this.dateYear = formatTime(new Date(), 'yyyy-MM-dd')
        this.dateWeek = this.weekday[new Date().getDay()]
      }, 1000)
    },
    cancelLoading() {
      setTimeout(() => {
        this.loading = false
      }, 500)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/index.scss';
.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .header-title {
    .title {
      color: white;
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
    }
  }
}
.title {
  width: auto!important;
}
</style>
