<template>
    <div>
        <div
            :id="boxId"
            :style="{ width: '400px', height: '300px' }"
        >
        </div>
        <p class="text_centent">{{ title }}</p>
    </div>
</template>

<script>
export default {
    props: {
		a_color: String,
		b_color: String,
		formatter: {
            type: Number,
            default: 0
        },
        title: {
            type: String,
            default: ''
        },
        Waterbox: String
	},
    data() {
        return {
            formatters: '',
            // 动态id，确保封装成组件后每个组件不受影响
            boxId: this.Waterbox + new Date().getTime(),
        }
    },
    mounted() {
        // 挂载后调用创建水球图函数
        this.createWater()
    },
    watch: {
        formatter: {
        handler(newval) {
            this.formatters = newval
            this.$nextTick(() => {
                this.createWater()
            });
        },
        deep: true,
        immediate: true 
        }
    },
    
    methods: {
        // 方法
        createWater() {
            var myChart = this.$echarts.init(document.getElementById(`${this.boxId}`))
            let option = {
                series: [{
                    radius: '90%',
                    type: 'liquidFill',
                    data: [0.6, 0.5, 0.4, 0.3],
                    label: {
                        // normal: {
                        //     color: '#fff',
                        //     insideColor: 'transparent',
                        //     textStyle: {
                        //         fontSize: 30,
                        //         fontWeight: 'bold',
                        //     }
                        // }
                        formatter: this.formatters + ' ',    //  值
                        fontSize: 30,
                        fontFamily: 'Lobster Two',
                    },
                    waveAnimation: true,
                    animation: true,
                    color: [{
                        type: 'linear',
                        x: 0,
                        y: 1,
                        x2: 0,
                        y2: 0,
                        colorStops: [{
                            offset: 1,
                            color: [this.a_color], // 0% 处的颜色
                        }, {
                            offset: 0,
                            color: [this.b_color], // 100% 处的颜色
                        }],
                        global: false // 缺省为 false
                    }],
                    outline: {
                        show: true,
                        borderDistance: 5,
                        itemStyle: {
                            borderColor: '#27e5f1',
                            borderWidth: 3
                        }
                    }
                }]
            }
            myChart.setOption(option)
            
        }
    }
}
</script>

<style lang="scss" scoped>
.text_centent{
    font-size: 0.8rem;
    color: rgb(255, 254, 240);
    text-align: center;
    margin-top: 8px;
}
.hygrometer{
    float: left;
    display: block;
    overflow: hidden;
}
</style>
