<template>
  <div id="centerRight1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-line" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">出入库作业</span>
          <dv-decoration-3 class="dv-dec-1" />
        </div>
      </div>
      <div class="body-box2">
        <dv-scroll-board class="dv-scr-board" :config="config" style="width: 100%" />
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      config: {
        header: ['钢卷号', '材质', '规格', '数量', '时间', '操作人', '状态'],
        data: [
          ['组件1', 'dev-1', "1", "1", "1", "1", "1"],
          ['组件2', 'dev-2', "2", "1", "1", "1", "1"],
          ['组件3', 'dev-3', "3", "1", "1", "1", "1"],
          ['组件4', 'rea-1', "4", "1", "1", "1", "1"],
          ['组件5', 'rea-2', "5", "1", "1", "1", "1"],
          ['组件6', 'fix-2', "6", "1", "1", "1", "1"],
          ['组件7', 'fix-4', "7", "1", "1", "1", "1"],
          ['组件8', 'fix-7', "8", "1", "1", "1", "1"],
          ['组件9', 'dev-2', "9", "1", "1", "1", "1"],
          ['组件10', 'dev-9', "0", "1", "1", "1", "1"],
          ['组件10', 'dev-9', "0", "1", "1", "1", "1"]
        ],
        rowNum: 7, //表格行数
        headerHeight: 35,
        headerBGC: '#14215acc', //表头
        oddRowBGC: '#0f1325be', //奇数行
        evenRowBGC: '#171c33be', //偶数行
        // index: true,
        // columnWidth: [50],
        align: ['center']
      }
    }
  },
  components: {},
  mounted() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
$box-height: 410px;
$box-width: 300px;
.dv-dec-1 {
  position: relative;
  width: 100px;
  height: 20px;
  top: -3px;
}
#centerRight1 {
  padding: 16px;
  padding-top: 20px;
  height: $box-height;
  // width: $box-width;
  border-radius: 5px;
  .bg-color-black {
    height: $box-height - 30px;
    border-radius: 10px;
  }
  .text {
    color: #fff;
  }
  .body-box2 {
    border-radius: 10px;
    // width: 100%;
    // grid-template-columns: repeat(1, 100%);
    overflow: hidden;
    .dv-scr-board {
      // width: 270px;
      height: 340px;
    }
  }
}
</style>
