<template>
  <div id="centerRight1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-line" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">入库作业</span>
          <dv-decoration-3 class="dv-dec-1" />
        </div>
      </div>
      <div class="body-box2">
        <dv-scroll-board class="dv-scr-board" :config="config" style="width: 100%" />
      </div>
    </div>
  </div>
</template>


<script>
import { formatDate } from '@/utils/times.js'
export default {
  props: {
    sId: {
      type: String
    },
    timedata: {
      type: String
    },
	},
  data() {
    return {
      listData: [],
      config: {},
      sIds:'',
      timedatas: ''
    }
  },
  // components: {},
  // mounted() {this.formData()},
  created () {
    
  },
  watch: {
    
    sId: {
      handler(newval, val) {
        if(newval != val){
          this.$nextTick(() =>{
            this.sIds = newval
            this.formData()
            // console.log('sId我是出入作业>>>', this.sIds)
          })
        }
      },
      deep: true,
      immediate: true 
    },
    timedata: {
      handler(newval, val) {
        if(newval != val){
          this.$nextTick(() =>{
            this.timedatas = newval
            this.formData()
          })
        }
      },
      deep: true,
      immediate: true 
    },
  },
  methods: {
    async formData() {
      let res = await this.$Request({
				dataStores: {},
        parameters: {
          "parmPojo": {
            "sWarehouseId": this.sIds,
            "dateFrom":this.timedatas,
            'dateTo': this.timedatas,
            'sStorageType': '100'
          },
          "_parameters": "parmPojo", 
          "_parameterTypes": "string", 
          "dcID": "wmsmegadatais", 
          "_boId": "wmsmegadatais_ifsStockDataBO_bo", 
          "_methodName": "queryStockReceipt", 
          "_methodParameterTypes": "String"
        }
      });
      if (res.data.body.dataStores.result.rowSet.primary[0].resultCode == 0) {
        // document.cookie = 'JSESSIONID=' + res.data.id
        let lists = JSON.parse(res.data.body.dataStores.result.rowSet.primary[0].resultData) || []
        lists.map(ele => {
           ele.sModifyDate = formatDate(new Date(ele.sModifyDate), 'yyyy-MM-dd hh:mm')
            this.listData.push([ele.vSubArtName,ele.sExtend4,ele.sCode,ele.sQty,ele.sModifyDate,ele.vSubModifierName])
        })
        if (this.listData.length == lists.length) {
          this.config ={
            header: ['货号', '钢卷号', '入库单号', '数量', '时间', '操作人'],
            data: this.listData,
            rowNum: 7, //表格行数
            headerHeight: 35,
            headerBGC: '#14215acc', //表头
            oddRowBGC: '#0f1325be', //奇数行
            evenRowBGC: '#171c33be', //偶数行
            // index: true,
            columnWidth: [350, 200, 250, 150, 200, 150],
            align: ['left', 'center', 'center', 'right', 'center', 'center']
          }
          
        }
        this.listData = []
        // console.log('>>>>>入库作业', this.listData)
      } else {
        // this.$message.error(`${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`);
        console.log('入库作业',
        `${res.data.body.dataStores.result.rowSet.primary[0].resultMsg}`,
        '传入的参数:',
        `parameters: {
          parmPojo: {
            sWarehouseId: ${this.sIds},
            dateFrom: ${this.timedatas},
            dateTo: ${this.timedatas},
            'sStorageType': '100'
          },
          "_parameters": "parmPojo", 
          "_parameterTypes": "string", 
          "dcID": "wmsmegadatais", 
          "_boId": "wmsmegadatais_ifsStockDataBO_bo", 
          "_methodName": "queryStockReceipt", 
          "_methodParameterTypes": "String"
        }`)
      }

      
    }
  }
}
</script>

<style lang="scss" scoped>
$box-height: 410px;
$box-width: 300px;
.dv-dec-1 {
  position: relative;
  width: 100px;
  height: 20px;
  top: -3px;
}
#centerRight1 {
  padding: 16px;
  padding-top: 20px;
  height: $box-height;
  // width: $box-width;
  border-radius: 5px;
  .bg-color-black {
    height: $box-height - 30px;
    border-radius: 10px;
  }
  .text {
    color: #fff;
  }
  .body-box2 {
    border-radius: 10px;
    // width: 100%;
    // grid-template-columns: repeat(1, 100%);
    overflow: hidden;
    .dv-scr-board {
      // width: 270px;
      height: 340px;
    }
  }
}
</style>
