<template>
  <div id="centerLeft1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-pie" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">库存量</span>
          <dv-decoration-3 class="dv-dec-3" />
        </div>
      </div>
      <div class="d-flex jc-center">
        <chart-pie :forms="forms"/>
      </div>
    </div>
  </div>
</template>

<script>
import chartPie from '@/components/echart/chartpie/index'
export default {
  props: {
		formList: {
      type: Array,
      default: function() {
        return []
      }
    },
    formsum: {
      type: Number,
      default: 0
   },
	},
  components: {
    chartPie
  },
  data() {
    return {
      // formsums: 0,
      // formLists:[],
      forms: {
        foreData: [],
        seriesName: '库点',
        graphicText: 0,
        graphicTitle: '库存总量',
      }
    }
  },
  watch: {
    formList: {
      handler(newval) {
        this.forms.foreData = newval
        // console.log('>>>>>我是测试', this.forms.foreData)
      },
      deep: true,
      immediate: true 
    },
    formsum: {
      handler(newval) {
        this.forms.graphicText = newval
        // console.log('>>>>>还是个还是', this.forms.graphicText)
      },
      deep: true,
      immediate: true 
    }
  },
  created() {
    // this.forms.graphicText = this.formsum.toFixed(3)
  },
  methods: {
    
  }
}
</script>

<style lang="scss" scoped>
$box-width: 1000px;
$box-height: 480px;

#centerLeft1 {
  padding: 16px;
  height: $box-height;
  // width: $box-width;
  border-radius: 10px;
  .bg-color-black {
    height: $box-height - 30px;
    border-radius: 10px;
  }
  .text {
    color: #c3cbde;
  }
  .dv-dec-3 {
    position: relative;
    width: 100px;
    height: 20px;
    top: -3px;
  }

  .bottom-data {
    .item-box {
      & > div {
        padding-right: 5px;
      }
      font-size: 14px;
      float: right;
      position: relative;
      width: 50%;
      color: #d3d6dd;
      .dv-digital-flop {
        width: 120px;
        height: 30px;
      }
      // 金币
      .coin {
        position: relative;
        top: 6px;
        font-size: 20px;
        color: #ffc107;
      }
      .colorYellow {
        color: yellowgreen;
      }
      p {
        text-align: center;
      }
    }
  }
}
</style>
