/* eslint-disable vue/require-v-for-key */
<template>
  <div id="centerLeft1">
    <div class="bg-color-black">
      <div class="d-flex pt-2 pl-2">
        <span>
          <icon name="chart-pie" class="text-icon"></icon>
        </span>
        <div class="d-flex">
          <span class="fs-xl text mx-2">日出入库量</span>
          <dv-decoration-3 class="dv-dec-1" />
        </div>
      </div>
      <div class="d_flex">
        <div class="d-flex jc-center" v-for="(item, index) in foreData" :key="index">
          <EcLiquidfill 
            :Waterbox="item.Waterbox" 
            :title="item.title" 
            :a_color="item.a_color" 
            :b_color="item.b_color" 
            :formatter="item.formatter"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EcLiquidfill from "@/components/echart/ecliquidfill/index";
export default {
  props: {
		formSumData: {
      type: Array,
      default: function() {
        return []
      }
    }
	},
  data () {
    return {
      // formSumDatas: [],
      foreData: [
        {
          a_color: '#eb8b6a',
          b_color: '#f1dd27',
          formatter: 0,
          title: '日入库量（吨）',
          Waterbox: 'WaterboxA'
        },
        {
          a_color: '#6a7feb',
          b_color: '#27e5f1',
          formatter: 0,
          title: '日出库量（吨）',
          Waterbox: 'WaterboxB'
        }
      ]
    }
  },
  mounted () {
  },
  created() {
  },
  watch: {
    formSumData: {
      handler(newval) {
        this.foreData[0].formatter = 0
        this.foreData[1].formatter = 0
        for(let i in newval){
          if(newval[i].sStorageType == "出库"){
            this.foreData[1].formatter = newval[i].sQty
          }
          if(newval[i].sStorageType == "入库"){
            this.foreData[0].formatter = newval[i].sQty
          }
        }
        if(newval.length == 0){
          this.foreData[0].formatter = 0
          this.foreData[1].formatter = 0
        }
        
        // console.log('>>>>>我是库类型', newval)
      },
      deep: true,
      immediate: true 
    }
  },
  components: {
    EcLiquidfill
  },
};
</script>

<style lang="scss" scoped>
#centerLeft1 {
  $box-width: 300px;
  $box-height: 480px;
  padding: 16px;
  height: $box-height;
  min-width: $box-width;
  border-radius: 5px;
  .bg-color-black {
    height: $box-height - 30px;
    border-radius: 10px;
  }
  .text {
    color: #c3cbde;
  }
  .dv-dec-1 {
    position: relative;
    width: 100px;
    height: 20px;
    top: -3px;
  }
  .chart-box {
    margin-top: 16px;
    width: 170px;
    height: 170px;
    .active-ring-name {
      padding-top: 10px;
    }
  }
}
.hygrometer{
    float: left;
    display: block;
    overflow: hidden;
}
.d_flex{
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
</style>