<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
export default {
  created() {
    this.$axios({
        headers: {
            "content-type": "application/x-www-form-urlencoded",
            // 'Cookie': 'JSESSIONID=02f1f8fd-a398-402b-8434-19f4ef75c975; admin_defaultSkin=gainsboro'
        },
        method: 'POST',
        withCredentials: false,
        url:'http://121.37.193.224:8080/framework/j_spring_security_check?j_username=apptest&j_password=apptest1&useRestful=true',
    }).then((res) =>{
      this.Cookie = res.data.id
      document.cookie = 'JSESSIONID=' + res.data.id
    }).catch((error) => {
        console.log(error)       //请求失败返回的数据
    })
  }
}
</script>
<style lang="scss" scoped>
#app {
  width: 100vw;
  height: 100vh;
  // background-color: #020308;
  background-image: url(assets/bg.110420cf.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
</style>
